<style>
input {
  border-radius: 5px;
  color: #d52;
  width: 150px;
  text-align: center;
  border: none;
  height: 20px;
}
button {
  color: #d52;
  background: white;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  border: none;
}
.box {
  background: #d52;
  width: 200px;
  border-radius: 20px;
  align: center;
}
</style>
